*{
	/*border: 1px solid black;*/
	box-sizing: border-box;
	position: relative;
}

html, body{
	width: 100%;
	height: 100%;	
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	opacity: 0;
	animation-name: fadeIn;
	animation-duration: 5s;
	animation-fill-mode: forwards;
	animation-delay: 0.5s;
}

@-webkit-keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}
@-o-keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}
@-moz-keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}
@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}


body{
	background:linear-gradient(#D6D6D6, #A4A4A4);
}

.bgc{
	position: fixed;
	width: 100%;
	height: 100%;
	transition-duration: 1.5s;
}

#bgc1{
	background: linear-gradient(#F1FFFA, #93B7BE);
	opacity: 0;	
}

#bgc2{
	background: linear-gradient(#FFECCC, #F2D0A4);
	opacity: 0;	
}

#bgc3{
	background: linear-gradient(#F4D3D3, #ED7BA0);
	opacity: 0;	
}

.container{
	/*width: 70%;*/
	height: 80%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 2px 2px 10px 0 #7F7F7F;
	transition: box-shadow 1.5s;
}

.III{
	position: absolute;
	width: auto;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	font-size: 2.3vh;
	letter-spacing: 2.3px;
	letter-spacing: 0.108vw;
	transform: rotate(90deg);
	transform-origin: top left;
	left: 32.7%;
	top: 9%;
}

.mountain{
	position: absolute;
	height: 30%;
	width: 55%;
	bottom: 0px;
	left: 40%;
	font-size: 0px;
}

.mountain svg{
	width: 100%;
	height: 100%;
}

.samuel_png{
	position: absolute;
	width: 53%;
	top: 33%;
	right: -7.7%;
}

img{
	width: 100%;
	height: 100%;
}

.content{
	font-size: 20px;
	font-size: 2.3vh;
	left: 23.6%;
	top: 74%;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 2.5px;
	letter-spacing: 0.2875vh;
	line-height: 30px;
	line-height: 3.45vh;
}

.line{
	width: 67%;
	border-bottom: 0.40vh solid #323232;
	top: 66%;
	left: -9%;
}


.dots_container{
	position: absolute;
	left: 10%;
	top: 50%;
	transform: translateY(-50%);
	z-index: 5;
}

.dot{
	cursor: pointer;
	width: 10px;
	width: 1.15vh;
	height: 10px;
	height: 1.15vh;
	background-color: #bbb;
	margin-bottom: 23px;
	margin-bottom: 2.5vh;
	border-radius: 10px;

}

#P{
	z-index: 2;
}

.dotA{
	animation-name: pumb;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;	
}

.dot1_A{
	animation-delay: -1s;
}

.dot2_A{
	animation-delay: -0.5s;
}

.dot3_A{
	animation-delay: 0s;
	
}

#dot1_P{
	background-color: #BDEDF7;
}

#dot2_P{
	background-color: #FFDBAE;
}

#dot3_P{
	background-color: #FFB1C8;
}

@-webkit-keyframes pumb {
	0% {opacity: 0;
		transform: scale(0.8);}
	50%{opacity: 1;}
	100%{opacity: 0;
		transform: scale(3);}	
	}
	@-o-keyframes pumb {
	0% {opacity: 0;
		transform: scale(0.8);}
	50%{opacity: 1;}
	100%{opacity: 0;
		transform: scale(3);}	
	}
	@-moz-keyframes pumb {
	0% {opacity: 0;
		transform: scale(0.8);}
	50%{opacity: 1;}
	100%{opacity: 0;
		transform: scale(3);}	
	}
	@keyframes pumb {
	0% {opacity: 0;
		transform: scale(0.8);}
	50%{opacity: 1;}
	100%{opacity: 0;
		transform: scale(3);}	
	}	

#dot1{
	background-color: #93B7BE;
}

#dot2{
	background-color: #F2D0A4;
}

#dot3{
	background-color: #f0a4b9;
}

.moun{
	fill: #545454;
	opacity: 0.56;
	transition-duration: 1.5s;
}

audio{
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0;
}